.table-primary tr th a{
    color:#fff !important;
}
.desc{
    background-image:url(../images/down.png);
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
}
.asc{
    background-image:url(../images/up.png);
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
}
.profile-bg{
    background-image:url(../images/profile-bg.jpg);
    background-repeat:no-repeat;
    background-color:#e1e8ef;
    width:100%;
    min-height:1000px;
    background-position: right top;
}
.profile-head{
    padding:20px;
    cursor:pointer;
}
.profile-image{
    width:100%;
}
.profile-image img{
    width:150px;
    border-radius:100px;
    border:7px solid #70a6d4;
    height:150px;
}
.profile-name{
    float:left;
}
.profile-details-top{
    width:100%;
    border-bottom:1px solid #d0dce8;
    padding-bottom:10px;
}
.profile-details-bottom{
    width:100%;
    padding-top:10px;
    border-top:1px solid #f3f7fb;
}
.text01{
    font-size:35px;
    font-weight:bold;
    text-transform:uppercase;
    line-height:35px;
}
.dark-blue{
    color:#28669c;
}
.light-blue{
    color:#6e9ec8;
}
.text02{
    font-size:17px;
    color:#356690;
    text-transform:uppercase;
}
.text03{
    font-size:13px;
    color:#000000;
}
.profile-icons{
    float:right;
}
.profile-tab{
    width:100%;
    background-color:#9bbedc;
}
.profile-tab ul{
    margin:0px;
    padding:0px;
}
.profile-tab ul li{
    margin:0px;
    padding:0px;
    list-style:none;
    float:left;
    padding:10px;
    color:#28669c;
    text-transform:uppercase;
    font-weight:bold !important;
}
.profile-tab ul li a{
    color:#28669c;
    text-decoration:none;
    font-weight:bold !important;
}
.nav-profile {
    background: none !important;
    border-radius:none !important;
    border-style:none !important;
    border-width:none !important;
}
.nav-profile > li > a {
    padding:0px !important;
    position: relative;
}
.nav-profile > li.active > a, .nav-profile > li.active > a:hover, .nav-profile > li.active > a:focus {
    background:none !important;
    border:none !important;
    color: #fff !important;
    cursor: default;
}
.profile-content{
    border:none !important;
}
.text04{
    font-size:28px;
    font-weight:bold;
    text-transform:uppercase;
    line-height:28px;
    margin-bottom:15px;
}

.social-icon{
    float:left;
    width:69px;
    margin-right:15px;
}
.text05{
    font-size:21px;
    color:#96b7d3;
}
.text06 a{
    font-size:16px;
    color:#28669c;
}
.social{
    margin-bottom:10px;
    background-color:#fff;
    border-radius:0px 0px 4px 4px;
    border-bottom:2px solid #d2d2d2;
    float:left;
    padding:35px;
    margin-right:6px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    position:relative;
    z-index:99;
}
.social img{
    width:69px;
    height:69px;
}
/*.social:hover{
        background-color:#ebf0f5;
        margin-top:10px;
        -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
        }*/
#Mycerts img{
    width:69px;
}
.cer-box{
    width:100%;
    background-color:#fff;
}
.cert ul{
    margin:0px;
    padding:0px;
}
.cert ul li{
    margin:0px;
    padding:0px;
    list-style:none;
    background-color:#fff;
    float:left;
    width:139px;
    text-align:center;
    height:135px;
    padding-top:15px;
    margin-right:6px;
    border-radius:0px 0px 4px 4px;
    border-bottom:2px solid #d2d2d2;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    cursor:pointer;
}
.cert ul li:hover{
    background-color:#ebf0f5;
    /*margin-top:25px;*/
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.social-top ul{
    margin:0px;
    padding:0px;
}
.social-top ul li{
    margin:0px;
    padding:0px;
    list-style:none;
    text-transform:uppercase;
    font-size:14px;
    text-align:center;
    color:#28669c;
    float:left;
    width:90px;
    margin-right:5px;
    float:left;
    list-style:none;
    font-weight:bold;
}
.business-card{
    width:100%;
    background-clip:#fff;
    border:1px solid #ddd;
    padding:10px;
    margin-bottom:10px;
}
.help-box{
    width:100%;
    background-color:#f0f2f4;
}
.text07{
    font-size:15px;
    color:#28669c;
}
/*.profile-head:hover .edit-before{
        display:block;
        }*/
.edit-before{
    color:#99a8b5;
    margin-right:10px;
    display:none;
}
.edit-before:hover{
    color:#28669c;
}
.edit{
    float:right;
    font-size:14px;
    color:#28669c;
    font-weight:bold;
    cursor:pointer;
}
.blue-bg{
    background-color:#428bca !important;
    color:#fff !important;
}
.editable-click, a.editable-click, a.editable-click:hover {
    border-bottom:none !important;
    text-decoration: none;
}
.editable-input .input-sm{
    margin-top:0px !important;
}
.editable-input .form-control{
    padding:6px 12px !important;
}
.left-head{
    float:left;
}
.right-head{
    float:right;
}
.price-plan{
    text-align:center;
}
.red-color{
    color:#ce1313;
}
.table-action a, .table-action-hide a {
    color: #fff;
}
.table-last tr td:last-child{
    text-align:right;
}
.btn-default-2 {
    background: none repeat scroll 0 0 #e4e7ea;
    color: #636e7b;
}
.btn-default-2:hover, .btn-default-2:focus, .btn-default-2:active, .btn-default-2.active, .open .dropdown-toggle.btn-default-2 {
    background: none repeat scroll 0 0 #428bca;
    box-shadow: none;
    color:#fff !important;
}
.alpha-r{
    padding-right:0px;
}
.alpha-l{
    padding-left:0px;
}
.job-details h4{
    color: #356690;
    font-size: 17px;
    text-transform: uppercase;
    font-weight:bold;
}
.job-details ul{
    margin:0px;
    padding:0px;
}
.job-details ul li{
    margin:0px;
    padding:0px;
    list-style:none;
}


/* CSS3 STYLE GENERIC */
.view {
    /* width: 69px;
     height: 69px;*/
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.view-2 {
    width: 100%;
    height: 276px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.view .mask, .view .content {
    width: 100%;
    height: 141px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view-2 .mask, .view-2 .content {
    width:100%;
    height: 276px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view-2 img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
}
.view img {
    display: block;
    position: relative;
}
.view a.info {
    background:url(../img/edit.png) center no-repeat;
    display: inline-block;
    text-decoration: none;
    padding:0;
    text-indent:-9999px;
    width:20px;
    height:20px;
}
.view a.info:hover {
    background:url(../img/edit-h.png) center no-repeat;
}
.view a.info-2 {
    background:url(../img/delete.png) center no-repeat;
    display: inline-block;
    text-decoration: none;
    padding:0;
    text-indent:-9999px;
    width:20px;
    height:20px;
}
.view a.info-2:hover {
    background:url(../img/delete-h.png) center no-repeat;
}
.view a.info-3 {
    background:url(../img/drag.png) center no-repeat;
    display: inline-block;
    text-decoration: none;
    padding:0;
    text-indent:-9999px;
    width:20px;
    height:20px;
}
.view a.info-3:hover {
    background:url(../img/drag-h.png) center no-repeat;
}
.view a.info-4 {
    background:url(../img/view.png) center no-repeat;
    display: inline-block;
    text-decoration: none;
    padding:0;
    text-indent:-9999px;
    width:20px;
    height:20px;
}
.view a.info-4:hover {
    background:url(../img/view.png) center no-repeat;
}
.view-2 a.info {
    background:url(../img/edit.png) center no-repeat;
    display: inline-block;
    text-decoration: none;
    padding:0;
    text-indent:-9999px;
    width:20px;
    height:20px;
}
.view-2 a.info:hover {
    background:url(../img/edit-h.png) center no-repeat;
}
.view-2 a.info-2 {
    background:url(../img/delete.png) center no-repeat;
    display: inline-block;
    text-decoration: none;
    padding:0;
    text-indent:-9999px;
    width:20px;
    height:20px;
}
.view-2 a.info-2:hover {
    background:url(../img/delete-h.png) center no-repeat;
}
.view-2 a.info-3 {
    background:url(../img/drag.png) center no-repeat;
    display: inline-block;
    text-decoration: none;
    padding:0;
    text-indent:-9999px;
    width:20px;
    height:20px;
}
.view-2 a.info-3:hover {
    background:url(../img/drag-h.png) center no-repeat;
}
.view-2 a.info-4 {
    background:url(../img/view.png) center no-repeat;
    display: inline-block;
    text-decoration: none;
    padding:0;
    text-indent:-9999px;
    width:20px;
    height:20px;
}
.view-2 a.info-4:hover {
    background:url(../img/view-h.png) center no-repeat;
}
/* THIRD EFFECTS */

.third-effect .mask {
    opacity: 0;
    overflow:visible;
    /* border:100px solid rgba(0,0,0,0.7);*/
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.third-effect a.info {
    position:relative;
    top:60px;
    opacity: 0;
    -webkit-transition: opacity 0.5s 0s ease-in-out;
    -moz-transition: opacity 0.5s 0s ease-in-out;
    -o-transition: opacity 0.5s 0s ease-in-out;
    -ms-transition: opacity 0.5s 0s ease-in-out;
    transition: opacity 0.5s 0s ease-in-out;
}
.third-effect a.info-2 {
    position:relative;
    top:60px;
    opacity: 0;
    -webkit-transition: opacity 0.5s 0s ease-in-out;
    -moz-transition: opacity 0.5s 0s ease-in-out;
    -o-transition: opacity 0.5s 0s ease-in-out;
    -ms-transition: opacity 0.5s 0s ease-in-out;
    transition: opacity 0.5s 0s ease-in-out;
}
.third-effect a.info-3 {
    position:relative;
    top:60px;
    opacity: 0;
    -webkit-transition: opacity 0.5s 0s ease-in-out;
    -moz-transition: opacity 0.5s 0s ease-in-out;
    -o-transition: opacity 0.5s 0s ease-in-out;
    -ms-transition: opacity 0.5s 0s ease-in-out;
    transition: opacity 0.5s 0s ease-in-out;
}
.third-effect a.info-4 {
    position:relative;
    top:60px;
    opacity: 0;
    -webkit-transition: opacity 0.5s 0s ease-in-out;
    -moz-transition: opacity 0.5s 0s ease-in-out;
    -o-transition: opacity 0.5s 0s ease-in-out;
    -ms-transition: opacity 0.5s 0s ease-in-out;
    transition: opacity 0.5s 0s ease-in-out;
}
.third-effect:hover .mask {
    opacity: 1;
    background-color:rgba(0,0,0,0.7);
    /*border:100px solid rgba(0,0,0,0.7);*/
}
.third-effect:hover a.info {
    opacity:1;
    -moz-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.third-effect:hover a.info-2 {
    opacity:1;
    -moz-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.third-effect:hover a.info-3 {
    opacity:1;
    -moz-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.third-effect:hover a.info-4 {
    opacity:1;
    -moz-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.pl15{
    padding-left:15px;
}
/* Caption Style 7 */
.cs-style-7 li:first-child { z-index: 6; }
.cs-style-7 li:nth-child(2) { z-index: 5; }
.cs-style-7 li:nth-child(3) { z-index: 4; }
.cs-style-7 li:nth-child(4) { z-index: 3; }
.cs-style-7 li:nth-child(5) { z-index: 2; }
.cs-style-7 li:nth-child(6) { z-index: 1; }

.cs-style-7 figure img {
    z-index: 10;
}

.cs-style-7 figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
    -moz-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
    transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 0 0px #2c3f52;
}

.no-touch .cs-style-7 figure:hover figcaption,
.cs-style-7 figure.cs-hover figcaption {
    opacity: 1;
    height: 130%;
    box-shadow: 0 0 0 10px #2c3f52;
}

.cs-style-7 figcaption h3 {
    margin-top: 86%;
}

.cs-style-7 figcaption h3,
.cs-style-7 figcaption span,
.cs-style-7 figcaption a {
    opacity: 0;
    -webkit-transition: opacity 0s;
    -moz-transition: opacity 0s;
    transition: opacity 0s;
}

/*.cs-style-7 figcaption a {
        position: absolute;
        bottom: 20px;
        right: 20px;
}*/

.no-touch .cs-style-7 figure:hover figcaption h3,
.no-touch .cs-style-7 figure:hover figcaption span,
.no-touch .cs-style-7 figure:hover figcaption a,
.cs-style-7 figure.cs-hover figcaption h3,
.cs-style-7 figure.cs-hover figcaption span,
.cs-style-7 figure.cs-hover figcaption a {
    -webkit-transition: opacity 0.3s 0.2s;
    -moz-transition: opacity 0.3s 0.2s;
    transition: opacity 0.3s 0.2s;
    opacity: 1;
}

@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 100px 10px;
    }
    .grid li {
        width: 100%;
        min-width: 300px;
    }
}

.vcard-body{
    width:100%;
    background-color:#428bca;
    display:block;
    position:absolute;
    z-index:9999;
}
.v-top{
    padding-left:10px;
    padding-right:10px;
    padding-bottom:20px;
}
.v-avatar{
    float:left;
    width:95px;
    margin-right:15px;
}
.v-avatar img{
    width:95px;
    height:95px;
    border-radius:80px;
    border:5px solid #fff;
}
.v-details{
    float:left;
    padding-top: 25px;
}
.text08{
    font-size:24px;
    color:#000;
    font-weight:600;
    line-height:20px;
}
.text09{
    font-size:17px;
    color:#fff;
}
.v-bio{
    width:100%;
    background-color:#0b2c49;
    color:#fff;
    line-height:17px;
    font-size:13px;
    padding:10px;
    border-top:7px solid #64a4db;
    height: 125px;
}
.progress-bar-main{
    width:100%;
    /*background-color:#fff;
    padding:10px;*/
    /* margin-top:70%;*/
}
.text10{
    font-size:15px;
    color:#000;
}
.text11{
    font-size:12px;
    color:#fff;
}
.text-bold{
    font-weight:bold;
}
.success-msg {
    color:#f9f9f9 !important;
}
.error-msg,.errorMessage {
    color:#b94a48 !important;
}
.user-submenu ul{
    margin: 0px;
    padding: 0px;
}
.user-submenu ul li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-left: 5px;
    float: left;
}
.editable-pre-wrapped {
    white-space: normal !important;
}

.tt-dropdown-menu {
    text-align: left;
}
.tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
    width: 94.5% !important;
}
.tt-dropdown-menu li img{
    width: 30px;
    height: 30px;
    border-radius: 80px;
    margin-right: 10px;
}
.tt-dropdown-menu li a{
    font-size: 14px;
    color: #000 !important;
    display: block;

}
.tt-dropdown-menu li a:hover{
    background-color: #428bca !important;
    color: #fff !important;
}
.tt-dropdown-menu li:hover{
    color: #fff !important;
}
.fullwidth {
    width: 100%;
}
.blue-body{
    background-color:#3b5998;
}
.blue-light-body{
    background-color:#4c70ba;
}
.red-body{
    background-color:#ca4f4f;
}
.black-body{
    background-color:#33383c;
}
.black-dark-body{
    background-color:#272a2f;
}
.blue-dark-body{
    background-color:#14416e;
}
.gray-light-body{
    background-color:#eeeeee;
    color:#000 !important;
}
.gray-dark-body{
    background-color:#cccccc;
    color:#69676a;
}
.text-black {
    color: #000 !important;
}
.grid li figure{
    height: 265px;
}
.grey-color{
    color: #636E7B;
}
.grey-color-bold{
    color: #636E7B;
    font-weight: bold;
    font-size: 15px;
}
.add-box{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 1px dashed #636E7B;
    color: #428bca;
}
.add-box a{
    text-decoration: none;
    color: #428bca;
}
.background-bg{
}
.bg-white{
    background-color:#fff !important;
}
.figicons{
    margin-top:90%;
}
.vcard-name{
    font-size:15px;
    color:#fff;
    font-weight:bold;

    border-bottom:1px solid #fff;
    margin-bottom:15px;

    width:100%;
    background-color:#428bca;
}
.vcard-name a{
    color:#fff;
    text-decoration:none;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    display:block;
}
.grid li{
    margin-bottom:20px !important;
}
.tab-profile{
    background:none !important;
    border:none !important;
    margin-top:20px;
}
.tab-profile li a{

    font-weight:600 !important;
    font-size:14px !important;
    padding:0px !important;
    margin-right:20px;

}
.tab-profile > li.active > a, .tab-profile > li.active > a:hover, .tab-profile > li.active > a:focus {
    border:none !important;
    color:#428bca !important;

}
/*.profile-content{
    padding:0px !important;
    border:none !important;
}*/
.profile-con{
    padding: 0px !important;
    border: none !important;
}
