.table-primary tr th a{
    color:#fff !important;
}
.desc{
    background-image:url(../images/down.png);
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
}
.asc{
    background-image:url(../images/up.png);
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
}
.filters input{
    border-radius: 3px;
    box-shadow: none;
    font-size: 13px;
    height: auto;
    padding: 10px;

    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.filters select:focus{
    border-color: #999;
    box-shadow: none;
}
.filters select{
    border-radius: 3px;
    box-shadow: none;
    font-size: 13px;
    height: auto;
    padding: 10px;

    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 90%;
}
.filters input:focus{
    border-color: #999;
    box-shadow: none;
}
.admin-submenu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.errorMessage{
    color: #F00;
}
.errorSummary{
    color: #F00;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    line-height: 30px!important;
}