.badge {
    margin-top: 16px;
    width: 72px;
    height: 72px;
	margin: 1px;
}

.badge:hover {
	border: 1px inset;
	margin: 0px;
}

.left {
    float: left;
}
.right {
    float: right;
}
.portfolio {
	clear: both;
}
.portfolio img {
	border: 1px outset;
    width: 64px;
    height: 64px;
}

.portfolio img:hover {
	border: 1px inset;
}

.social img {
    width: 32px;
    height: 32px;
}
