<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

	<head>
	
		<meta charset="utf-8">
		
		<!-- Use the .htaccess and remove these lines to avoid edge case issues.
		     More info: h5bp.com/b/378 -->
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
		
		<title>John Smith vCard</title>
		
		<!-- CSS: implied media=all -->
		<!-- CSS concatenated and minified via ant build script-->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Muli:400,400italic|Ubuntu:400,700">
		<link rel="stylesheet" href="resources/css/reset.css">
		<link rel="stylesheet" href="resources/css/style.css">
		<!-- end CSS-->
		
		<!-- All JavaScript at the bottom, except for Modernizr / Respond.
		     Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
		     For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
		<script src="resources/js/libs/modernizr.min.js"></script>
	
	</head>
	
	<body class="light">
	
		<div id="background-pattern" class="predifined-1">
		
			<div id="background-radial">
			
				<div id="container">
				
					<header class="brown">
						
					</header>
					
					<div id="card">
					
						<div id="card-header" class="red">
							<div id="card-header-logo"></div>
							<div id="card-header-button" data-download="card.vcf" class="download mouse-events"></div>
						</div>
						<div id="card-content">
							<div id="card-content-frame">
								<div id="card-content-wrap">
									<div id="about" class="content clearfix">
										<div id="about-image">
											<img src="resources/img/portrait.jpg" alt="" />
										</div>
										<div id="about-content">
											<h1>John Smith</h1>
											<h2>Web administrator</h2>
											<div style="height:10px;"></div>
											<div class="scrollable" style="padding-right: 8px;height:204px;">
												<h3>About me</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.</p>
												<h3>My skills</h3>
												<ul class="skills">
													<li class="clearfix">
														<div class="skill-bar-10"></div>
														<div class="skill-label">Photoshop</div>
													</li>
													<li class="clearfix">
														<div class="skill-bar-5"></div>
														<div class="skill-label">Illustrator</div>
													</li>
													<li class="clearfix">
														<div class="skill-bar-7"></div>
														<div class="skill-label">HTML</div>
													</li>
													<li class="clearfix">
														<div class="skill-bar-6"></div>
														<div class="skill-label">CSS</div>
													</li>
													<li class="clearfix">
														<div class="skill-bar-4"></div>
														<div class="skill-label">Javascript</div>
													</li>
												</ul>
												<h3>Former jobs</h3>
												<table>
													<thead>
														<tr>
															<th style="width: 37%;">Position</th>
															<th style="width: 28%;">Company</th>
															<th style="width: 35%;">Hired</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Web administrator</td>
															<td>Smith Tech Industries</td>
															<td>2010 - Present</td>
														</tr>
														<tr>
															<td>CEO</td>
															<td>Apple Inc.</td>
															<td>2009 - 2010</td>
														</tr>
														<tr>
															<td>Graphic designer</td>
															<td>Envato</td>
															<td>2007 - 2009</td>
														</tr>
														<tr>
															<td>Coffee boy</td>
															<td>Google Inc.</td>
															<td>2003 - 2007</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div id="work" class="content">
										<h1>My work</h1>
										<div id="work-gallery-frame">
											<ul id="work-gallery" class="clearfix">
												<li>
													<a href="resources/img/gallery/image_1.jpg" rel="external"><img src="resources/img/gallery/thumbnail_1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_2.jpg" rel="external"><img src="resources/img/gallery/thumbnail_2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_3.jpg" rel="external"><img src="resources/img/gallery/thumbnail_3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_4.jpg" rel="external"><img src="resources/img/gallery/thumbnail_4.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_5.jpg" rel="external"><img src="resources/img/gallery/thumbnail_5.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_6.jpg" rel="external"><img src="resources/img/gallery/thumbnail_6.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_7.jpg" rel="external"><img src="resources/img/gallery/thumbnail_7.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_8.jpg" rel="external"><img src="resources/img/gallery/thumbnail_8.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_9.jpg" rel="external"><img src="resources/img/gallery/thumbnail_9.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_10.jpg" rel="external"><img src="resources/img/gallery/thumbnail_10.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_11.jpg" rel="external"><img src="resources/img/gallery/thumbnail_11.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_12.jpg" rel="external"><img src="resources/img/gallery/thumbnail_12.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_13.jpg" rel="external"><img src="resources/img/gallery/thumbnail_13.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_14.jpg" rel="external"><img src="resources/img/gallery/thumbnail_14.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_15.jpg" rel="external"><img src="resources/img/gallery/thumbnail_15.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_16.jpg" rel="external"><img src="resources/img/gallery/thumbnail_16.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_17.jpg" rel="external"><img src="resources/img/gallery/thumbnail_17.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_18.jpg" rel="external"><img src="resources/img/gallery/thumbnail_18.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_19.jpg" rel="external"><img src="resources/img/gallery/thumbnail_19.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_20.jpg" rel="external"><img src="resources/img/gallery/thumbnail_20.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_21.jpg" rel="external"><img src="resources/img/gallery/thumbnail_21.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_22.jpg" rel="external"><img src="resources/img/gallery/thumbnail_22.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_23.jpg" rel="external"><img src="resources/img/gallery/thumbnail_23.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_24.jpg" rel="external"><img src="resources/img/gallery/thumbnail_24.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_25.jpg" rel="external"><img src="resources/img/gallery/thumbnail_25.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_26.jpg" rel="external"><img src="resources/img/gallery/thumbnail_26.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_27.jpg" rel="external"><img src="resources/img/gallery/thumbnail_27.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_28.jpg" rel="external"><img src="resources/img/gallery/thumbnail_28.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_29.jpg" rel="external"><img src="resources/img/gallery/thumbnail_29.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_30.jpg" rel="external"><img src="resources/img/gallery/thumbnail_30.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_31.jpg" rel="external"><img src="resources/img/gallery/thumbnail_31.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_32.jpg" rel="external"><img src="resources/img/gallery/thumbnail_32.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_33.jpg" rel="external"><img src="resources/img/gallery/thumbnail_33.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_34.jpg" rel="external"><img src="resources/img/gallery/thumbnail_34.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_35.jpg" rel="external"><img src="resources/img/gallery/thumbnail_35.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_36.jpg" rel="external"><img src="resources/img/gallery/thumbnail_36.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_37.jpg" rel="external"><img src="resources/img/gallery/thumbnail_37.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_38.jpg" rel="external"><img src="resources/img/gallery/thumbnail_38.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_39.jpg" rel="external"><img src="resources/img/gallery/thumbnail_39.jpg" alt="" /></a>
												</li>
												<li>
													<a href="resources/img/gallery/image_40.jpg" rel="external"><img src="resources/img/gallery/thumbnail_40.jpg" alt="" /></a>
												</li>
											</ul>
										</div>
									</div>
									<div id="social" class="content">
										<h1>Social</h1>
										<ul id="social-networks" class="clearfix">
											<li><a href="#"><img src="resources/img/social/facebook_32.png" alt="" data-text="Follow me on {network}" data-network="Facebook" /></a></li>
											<li><a href="#"><img src="resources/img/social/vimeo_32.png" alt="" data-text="Follow me on {network}" data-network="Vimeo" /></a></li>
											<li><a href="#"><img src="resources/img/social/google_plus_32.png" alt="" data-text="Follow me on {network}" data-network="Google+" /></a></li>
											<li><a href="#"><img src="resources/img/social/skype_32.png" alt="" data-text="Follow me on {network}" data-network="Skype" /></a></li>
											<li><a href="#"><img src="resources/img/social/blogger_32.png" alt="" data-text="Follow me on {network}" data-network="Blogger" /></a></li>
											<li><a href="#"><img src="resources/img/social/delicious_32.png" alt="" data-text="Follow me on {network}" data-network="Delicious" /></a></li>
											<li><a href="#"><img src="resources/img/social/deviantart_32.png" alt="" data-text="Follow me on {network}" data-network="deviantART" /></a></li>
											<li><a href="#"><img src="resources/img/social/linkedin_32.png" alt="" data-text="Follow me on {network}" data-network="LinkedIn" /></a></li>
											<li><a href="#"><img src="resources/img/social/myspace_32.png" alt="" data-text="Follow me on {network}" data-network="MySpace" /></a></li>
											<li><a href="#"><img src="resources/img/social/lastfm_32.png" alt="" data-text="Follow me on {network}" data-network="last.fm" /></a></li>
											<li><a href="#"><img src="resources/img/social/flickr_32.png" alt="" data-text="Follow me on {network}" data-network="Flickr" /></a></li>
											<li><a href="#"><img src="resources/img/social/dribbble_32.png" alt="" data-text="Follow me on {network}" data-network="Dribbble" /></a></li>
											<li><a href="#"><img src="resources/img/social/youtube_32.png" alt="" data-text="Follow me on {network}" data-network="YouTube" /></a></li>
											<li><a href="#"><img src="resources/img/social/digg_32.png" alt="" data-text="Follow me on {network}" data-network="Digg" /></a></li>
										</ul>
										<div id="twitter"></div>
									</div>
									<div id="contact" class="content">
										<h1>Contact us</h1>
										<div id="contact-address">
											<p>John Smith</p>
											<p>324 Grapichwood</p>
											<p>New York</p>
											<p>United States of America</p>
										</div>
										<div id="contact-info">
											<strong>Telephone:</strong><span>555-234-8512</span><br />
											<strong>E-mail:</strong><span>contact@id.com</span>
										</div>
										<div id="contact-form">
											<form action="action.php" method="post" class="clearfix">
												<input type="text" name="name" value="Name" class="placeholder" />
												<input type="text" name="email" value="E-mail" class="placeholder" />
												<textarea name="message" class="placeholder">Message</textarea>
												<!--<div class="button mouse-events"><div>Send email</div></div>-->
												<div class="submit-slider"></div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="card-footer"></div>
					
					</div>
					
					<nav>
						<ul class="clearfix">
							<li class="active"><a href="/about">About</a></li>
							<li><a href="/work">Work</a></li>
							<li><a href="/social">Social</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</nav>
				
				</div>
				
			</div>
		
		</div>
		
		
		<!-- JavaScript at the bottom for fast page loading -->
		
		<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="resources/js/libs/jquery.min.js"><\/script>')</script>
		
		
		<!-- scripts concatenated and minified via ant build script-->
		<script defer src="resources/js/mylibs/jquery.address.js"></script>
		<script defer src="resources/js/mylibs/jquery.easing.js"></script>
		<script defer src="resources/js/mylibs/jquery.ui.js"></script>
		<script defer src="resources/js/mylibs/jquery.mousewheel.js"></script>
		<script defer src="resources/js/mylibs/jquery.mousewheel.intent.js"></script>
		<script defer src="resources/js/mylibs/jquery.scroll.js"></script>
		<script defer src="resources/js/mylibs/jquery.tweet.js"></script>
		<script defer src="resources/js/mylibs/jquery.validate.js"></script>
		<script defer src="resources/js/mylibs/jquery.fancybox.js"></script>
		<script defer src="resources/js/mylibs/jquery.gallery.js"></script>
		<script defer src="resources/js/mylibs/jquery.tooltip.js"></script>
		<script defer src="resources/js/mylibs/jquery.social.js"></script>
		<script defer src="resources/js/mylibs/jquery.ui.touch.js"></script>
		<script defer src="resources/js/mylibs/jquery.qaptcha.js"></script>
		<script defer src="resources/js/plugins.js"></script>
		<script defer src="resources/js/script.js"></script>
		<!-- end scripts-->
	
	</body>

</html>